<% if (pagination == 2){ %>
  <div class="row flex-wrap">
    <div class="col-3" style="width: 100%;">
      <% page.posts.each(function(post){ %>
        <div style="margin: 1rem;">
          <%- partial('article', {post: post, index: true}) %>
        </div>
      <% }) %>
    </div>
  </div>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
  <% var year = post.date.year(); %>
  <% if (last != year){ %>
  <% if (last != null){ %>
  </div>
</section>
<% } %>
<% last = year; %>
<section class="archives-wrap">
  <div class="archive-year-wrap">
    <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
  </div>
  <div class="archives">
    <div class="row flex-wrap">
      <div class="col-3" style="width: 100%;">
        <% } %>
        <div style="margin: 1rem;">
          <%- partial('article', {post: post, index: true}) %>
        </div>
        <% }) %>
        <% if (page.posts.length){ %>
      </div>
    </div>
  </div>
</section>
<% } %>
<% } %>
<% if (page.total > 1 && pagination != 2){ %>
  <nav id="page-nav">
    <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text,
      escape: false
    }) %>
    <style>
      #page-nav .page-number, #page-nav .prev, #page-nav .next {
        margin: 0.6rem;
      }
    </style>
  </nav>
<% } %>
