<div class="container">
  <%
    page.title = "成员简介"
    page.subtitle = " "
  %>
  <%- partial('_partial/page/banner') %>
  <%# partial('_partial/page/heading') %>
  <% let post = page %>
  <% let index = false %>

<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="article-inner" style="min-height: 30rem;">
    <div class="article-entry" itemprop="articleBody">
      <div style="display: flex; flex-direction: row;">
        <div style="height: 24rem; width: 18rem; overflow: hidden; margin: 1rem; margin-top: 2rem; margin-right: 4rem;">
          <img style="width: 100%; height: 100%; object-fit: cover;" src="<%= post.data.picture %>">
        </div>
        <div style="flex: min-content;">
          <h2><%- markdown(page.data.name) %></h2>
          <%- post.content %>
        </div>
      </div>
    </div>
    <footer class="article-footer">
      <%- partial('_partial/post/tag', {post: post}) %>
    </footer>
  </div>
</article>

</div>